streamlit
python-dotenv
terminaltables
accelerate
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
appdirs
async-timeout
autoawq
autoawq-kernels
bitsandbytes
blessed
blosc2
bt
click
cmake
contourpy
cox
cycler
datasets
datazets
dill
einops
fairscale
ffn
fonttools
frozendict
future
gitdb
gitpython
gpustat
gputil
grpcio
h11
higher
httpcore
httpx
huggingface-hub
hydra-core
importlib-metadata
inquirerpy
iopath
kaggle
kiwisolver
lit
openai
plotly
pydantic
pydantic-core
python-slugify
regex
safetensors
scikit-learn
seaborn
sentencepiece
smmap
streamlit
tenacity
text-unidecode
threadpoolctl
tokenizers
treelib
wordcloud
xmltodict
xxhash
yfinance
zstandard